[build]
  command = "npm run build"
  publish = "dist/public"
  functions = "dist/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["pg-native", "canvas"]
  included_files = ["dist/public/**"]
